<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"
    src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>

  <section>
    <nav th:replace="fragments.html :: nav" />
  </section>

  <section>
    <div class="jumbotron">
      <h1>Book Details</h1>
    </div>

    <div class="container-fluid">
      <form enctype="multipart/form-data" action="#" th:action="@{/book/upsert}" th:object="${book}" method="post">
        <input th:field="*{id}" type="hidden">

        <div class="form-group row">
          <label for="isbn13" class="col-sm-2 col-form-label">ISBN13:</label>
          <div class="col-sm-10">
            <input th:field="*{isbn13}" type="text" class="form-control" id="isbn13" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-10">
            <input th:field="*{title}" type="text" class="form-control" id="title" required>
          </div>
          <span th:if="${#fields.hasErrors('*{title}')}" th:errors="*{title}">Title error</span>
        </div>

        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">Image:</label>
          <div class="col-sm-10">
            <input th:field="*{image}" type="file" class="form-control-file" id="image">
          </div>
          <span th:if="${#fields.hasErrors('*{image}')}" th:errors="*{image}">Image error</span>
        </div>
      
      <div class="form-group row">
        <label for="availableStock" class="col-sm-2 col-form-label">Available Stock:</label>
        <div class="col-sm-10">
          <input th:field="*{availableStock}" type="text" class="form-control" id="availableStock" required>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="publisher" class="col-sm-2 col-form-label">Publisher:</label>
        <div class="col-sm-10">
          <select th:field="*{publisher}" class="form-control" id="publisher">
	        <option value="volvo" th:remove="tag">Prentice Hall</option>
	        <option value="saab" th:remove="tag">Schneider Publishing</option>
	        <option value="">Nicht ausgewählt</option>
	        <option th:each="publisher : ${allPublishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>	  
 	      </select>
        </div>
	    <span th:if="${#fields.hasErrors('*{publisher}')}" th:errors="*{publisher}">Title error</span>
      </div>
      
	  <label for="authors">Authors</label>
      <section id="authors">
        <section th:remove="all">
	      <input type="checkbox" id="author_1" name="author" value="1">
	      <label for="author_1">Robert C. Martin</label>
	      <br>
        </section>
        <section th:each="author : ${allAuthors}">
	      <input type="checkbox" th:field="*{authors}" th:value="${author.id}" />
	      <label th:for="${#ids.prev('authors')}" th:text="${author.firstName + ' ' + author.lastName}"></label>
	      <br>
        </section>
	  </section>
	  <span th:if="${#fields.hasErrors('*{authors}')}" th:errors="*{authors}">Title error</span>

      <div class="pb-3">
        <input type="submit" value="Save" class="btn btn-primary btn-sm">
        <input type="reset" value="Reset" class="btn btn-danger btn-sm">
        <a th:href="@{/books/}" class="btn btn-secondary btn-sm" role="button">Back</a>
      </div>
	</form>
  </div>
</section>

</body>
</html>