.jumbotron {
	background-color: rgba(0,0,0,0) /* Orange */
	color: #ffffff;
	position: relative;
	/* background: url(images/bookshop.jpg); */
	width: 100%;
	height: 100% !Important;
	overflow: hidden;
	border-radius: 0 !Important;
}

body {
	background: url(images/bookshop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
