<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css">
    <title>N3rdy b00ks</title>
</head>

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">N3rdy b00ks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Manage </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{'/orders'}">Orders</a>
                        <a class="dropdown-item" href="#" th:href="@{'/reviews'}">Reviews</a>
                        <a class="dropdown-item" href="#" th:href="@{'/customers'}">Customers</a>
                        <a class="dropdown-item" href="#" th:href="@{'/books'}">Books</a>
                        <a class="dropdown-item" href="#" th:href="@{'/authors'}">Authors</a>
                        <a class="dropdown-item" href="#" th:href="@{'/publishers'}">Publishers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{'/books/search'}" class="form-inline my-2 my-lg-0">
                        <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Search books"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
                    <a class="nav-link" href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"><span
                            sec:authentication="name"></span> (logout)</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>